<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Bookify - Enlight your vision by the books.
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Bookify is a website that lets the users to explore and review the books. The site is made by
          <a
            href="https://www.github.com/osamascience96"
            class="text-blueGray-600"
            target="_blank"
          >
            Osama Ahmad.
          </a>
          This was a project from Nucleous to make this webstie in Angular and .Net Core.
        </p>
        <div class="mt-12">
          <a
            [routerLink]="['auth', 'register']"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Get started
          </a>
          <a
            href="https://github.com/osamabytes/Initial_Projects"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank"
          >
            Github
          </a>
        </div>
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/pattern_angular.png"
    alt="..."
  />
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-100 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div
        class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32"
      >
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
        >
          <img
            alt="..."
            src="https://images.unsplash.com/photo-1513001900722-370f803f498d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            class="w-full align-middle rounded-t-lg"
            style="height: 400px;"
          />
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px"
            >
              <polygon
                points="-30,95 583,95 583,65"
                class="text-red-600 fill-current"
              ></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              Books of all categories
            </h4>
            <p class="text-md font-light mt-2 text-white">
              You'll find all your favorite books by the comfort of your home.
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-4 py-5 flex-auto">
                <h6 class="text-xl mb-1 font-semibold">Fantasy</h6>
                <p class="mb-4 text-blueGray-500">
                  We have all the books that will lead you to the fantasy world. Kids love fantasy world. It gives you relief from the real world.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <h6 class="text-xl mb-1 font-semibold">
                  Technology
                </h6>
                <p class="mb-4 text-blueGray-500">
                  You'll find books of all the Computer Science and Engineering.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-4 py-5 flex-auto">
                <h6 class="text-xl mb-1 font-semibold">Novel</h6>
                <p class="mb-4 text-blueGray-500">
                  From Sheikspeer, to all the best writers, you'll find the novel of your choice from any country or origin.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <h6 class="text-xl mb-1 font-semibold">Newspapaers</h6>
                <p class="mb-4 text-blueGray-500">
                  If you are looking for newspapers. You'll find them all here of all the countries, any magzine from any year or specific date.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto overflow-hidden pb-20">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Companies and Social Media Personals.
        </h3>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
        >
          Many Companies and Social media personalities have approached us from time to time to buy the books from us. They found the perfect books they were looking for and has recommended to their audiences and the companies to their employees.
          Companies related to tech or other buisness fields have also approached us to recommended their employees to buy the books mostly related to communication skills or peronslity growth.
        </p>
      </div>

      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-32">
        <div class="relative flex flex-col min-w-0 w-full mb-6 mt-48 md:mt-0">
          <img
            alt="..."
            src="assets/img/component-profile-card.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-210-px left-260-px -top-160-px"
          />
          <img
            alt="..."
            src="assets/img/component-info-card.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-180-px left-40-px -top-225-px z-2"
          />
        </div>
      </div>
    </div>

    <div class="flex flex-wrap items-center pt-32">
      <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-32">
        <div class="justify-center flex flex-wrap relative">
          <div class="my-4 w-full lg:w-6/12 px-4">
            <div class="bg-red-600 shadow-lg rounded-lg text-center p-8">
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="https://img.icons8.com/small/344/fantasy.png"
              />
              <p class="text-lg text-white mt-4 font-semibold">Fantasy</p>
            </div>
            <div
                class="bg-lightBlue-500 shadow-lg rounded-lg text-center p-8 mt-8"
              >
                <img
                  alt="..."
                  class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/react.jpg"
                />
                <p class="text-lg text-white mt-4 font-semibold">Technology</p>
              </div>
              <div
                class="bg-blueGray-700 shadow-lg rounded-lg text-center p-8 mt-8"
              >
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="https://img.icons8.com/small/344/document.png"
              />
              <p class="text-lg text-white mt-4 font-semibold">Research Papers</p>
            </div>
          </div>
          <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
            <div class="bg-yellow-500 shadow-lg rounded-lg text-center p-8">
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="https://img.icons8.com/small/344/book-stack.png"
              />
              <p class="text-lg text-white mt-4 font-semibold">Novels</p>
            </div>
            <div class="bg-red-700 shadow-lg rounded-lg text-center p-8 mt-8">
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="https://img.icons8.com/small/344/news.png"
              />
              <p class="text-lg text-white mt-4 font-semibold">Newspapers</p>
            </div>
            <div
                class="bg-emerald-500 shadow-lg rounded-lg text-center p-8 mt-8"
              >
                <img
                  alt="..."
                  class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://img.icons8.com/small/344/person-male.png"
                />
                <p class="text-lg text-white mt-4 font-semibold">Personality Growth</p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Our Categories
        </h3>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
        >
          As mentioned above, we contain all the books related to the people all the ages and from any walk of life.
        </p>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
        >
          Bookify is for people who are finding knowledge and interactions.
        </p>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 pb-32 pt-48">
    <div class="items-center flex flex-wrap">
      <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
        <div class="md:pr-12">
          <div
            class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
          >
            <i class="fas fa-file-alt text-xl"></i>
          </div>
          <h3 class="text-3xl font-semibold">Research Papers</h3>
          <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
            As a researcher, you need to go through many articles and research papers, but for that you have to wonder off in libraries and other websites. We have updated research papers
            of IEEE and other world organizations that produces the research papers from all around the world and approves the research as well. You'll find articles and research journals 
            of all the scientists in the world.
          </p>
        </div>
      </div>

      <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
        <img
          alt="..."
          class="max-w-full rounded-lg shadow-xl"
          style="
            transform: scale(1) perspective(1040px) rotateY(-11deg)
              rotateX(2deg) rotate(2deg);
          "
          src="https://compote.slate.com/images/ea8e3254-563d-4095-967e-fa1599366126.gif?width=780&height=520&rect=1560x1040&offset=0x0"
        />
      </div>
    </div>
  </div>

  <div class="justify-center text-center flex flex-wrap mt-24">
    <div class="w-full md:w-6/12 px-12 md:px-4">
      <h2 class="font-semibold text-4xl">Our Top Books</h2>
      <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
        Bookify presents to you our top 3 books. Please take a peak on to these books and enlighten your mind.
      </p>
    </div>
  </div>
</section>

<section class="block relative z-2 bg-blueGray-600">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 -mt-24">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">Milk and Honey</h5>
            <a [routerLink]="['']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                  style="height: 400px;"
                />
              </div>
            </a>
          </div>

          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">101 Essays ...</h5>
            <a [routerLink]="['']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="https://images.unsplash.com/photo-1521123845560-14093637aa7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                  style="height: 400px;"
                />
              </div>
            </a>
          </div>

          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">Endurance</h5>
            <a [routerLink]="['']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="https://images.unsplash.com/photo-1573488721809-e0f256ad3ad8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
                  style="height: 400px;"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
